/* # - target by id
    . - target by class of items
*/

.root {
    -fx-background-color:"white";
    -fx-font-family: "Courier New", monospace;
    -fx-text-fill: "black";
}


.highlight-selection {
	-fx-background-color: "gray";
	-fx-blend-mode: difference;
}

.selected {
	-fx-background-color: "lightgray";
	-fx-blend-mode: difference;
}

