/** Default theme: light mode with a white background and black text
*/

.root {
    -fx-background-color:"white";
    -fx-font-family: "Courier New", monospace;
    -fx-text-fill: "black";
}

.header {
	-fx-font-size: 20px;
}

.highlight-selection {
	-fx-background-color: "gray";
}

.highlight-selection .label {
	-fx-text-fill: "white";
}

.selected {
	-fx-background-color: "lightgray";
}

.selected .label {
	-fx-background-color: "lightgray";
	-fx-text-fill: "white";
}

