/** Dark theme: dark mode with a dark gray background and white text
*/

.root {
   	-fx-background-color: black;
    -fx-font-family: "Courier New", monospace;
}

.header {
	-fx-font-size: 20px;
}

.highlight-selection {
	-fx-background-color: lightgray;
	-fx-blend-mode: difference;
}
.selected {
	-fx-background-color: green;
}

.label {
	-fx-text-fill: white;
}

.menu .label { /* Styles the text on a menu item */ 
	-fx-text-fill: black;
}
.menu-item .label {
 	-fx-text-fill: black;
}
.context-menu {
 	-fx-background-color: white;
}

.split-pane {
	-fx-background-color: black;
}

.scroll-pane .viewport {
    -fx-background-color: black;
 }
.scroll-pane {
    -fx-background-color:transparent;
}

.list-view .list-cell:even {
	-fx-background-color: gray;
	-fx-text-fill: white;
}
.list-view .list-cell:odd {
	-fx-background-color: gainsboro;
	-fx-text-fill: black;
}

/* Background color of the whole context menu */
.choice-box .context-menu { 
	-fx-background-color: black; 
}
/* Focused item background color in the list */
.choice-box .menu-item:focused { 
	-fx-background-color: green; 
}
/* Text color of non-focused items in the list */
.choice-box .menu-item > .label { 
	-fx-text-fill: white; 
}
/* Text color of focused item in the list */
.choice-box .menu-item:focused > .label { 
	-fx-text-fill: white; 
}
.choice-box .label {
	-fx-text-fill: black;
}
