/** Default theme: light mode with a white background and black text
*/

.root {
    -fx-background-color:"white";
    -fx-font-family: "Courier New", monospace;
    -fx-text-fill: "black";
}

.header {
	-fx-font-size: 20px;
}

.highlight-selection {
	-fx-background-color: "gray";
	-fx-blend-mode: difference;
}

.selected {
	-fx-background-color: "lightgray";
	-fx-blend-mode: difference;
}

